body {
  position: relative;
  background-image: linear-gradient(#2424db, #ff00dd);
  height: 100vh;
}

:root {
  --corect-color: #10dbff;
  --main-color: #fff;
  --background-color: #e2f4fc;
  --incorect-color: #a5a5a5;
}
.hidden {
  display: none;
}

.step-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 20%;
  margin-bottom: 30px;
}
.all-steps-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 70px 70px;
  position: relative;
}
.move-to-left {
  position: absolute;
  height: 5px;
  top: 30%;
  left: 0%;
  width: 100%;
  background-color: var(--incorect-color);
}
.move-to-right {
  position: absolute;
  height: 5px;
  top: 30%;
  left: 0%;
  width: 0%;
  background-color: var(--corect-color);
  transition: all 0.4s linear;
}
.control-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.step {
  width: 60px;
  height: 60px;
  background-color: var(--background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--incorect-color);
  color: var(--incorect-color);
  position: relative;
}
.check-maker {
  width: 35px;
  height: 35px;
  font-weight: 600;
}
.corect {
  color: var(--corect-color);
}
.worked-on {
  color: var(--corect-color);
  border-color: var(--corect-color);
  transition: all 0.4s linear;
  transition-delay: 0.3s;
  /* color: black; */
}
.lev {
  width: 80px;
  position: absolute;
  bottom: -52px;
  left: 6px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: var(--main-color);
  font-size: 1.4rem;
}
.bestQuote {
  width: 500px;
  height: 59px;
}
.quote-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
}
.quote {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}
.last {
  font-size: 1.2rem;
  color: var(--corect-color);
}

.input-element {
  border: none;
  width: 100%;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 30px;
  color: var(--main-color);
  background-color: inherit;
}
.input-element:focus {
  outline: none;
}

.input-cell {
  width: 80%;
}

.label {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-family: serif;
  color: var(--main-color);
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: -5px;
}
main {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.btn-quote {
  font-size: 1.4rem;
  text-transform: capitalize;
  border-radius: 11px;
  background-color: inherit;
  color: var(--main-color);
  box-shadow: 0 3px 3px 2px #00000057;
  padding: 5px 7px;
}
.btn-controls {
  background-color: inherit;
  box-shadow: 0 3px 3px 2px #00000065;
  border-radius: 11px;
  padding: 5px 7px;
}
.control-icon {
  width: 40px;
  height: 40px;
  color: var(--main-color);
}

.owner {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: serif;
  padding: 5px;
  box-shadow: 0 3px 3px 2px #0000000c;
}

.about {
  text-align: center;
}
.sel-quote-cell {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.content {
  font-size: 1.2rem;
  color: var(--main-color);
}
.section-inputs {
  width: 100%;
}
